<!-- Wappler include head-page="tenants/edit" appConnect="local" is="dmx-app" bootstrap5="local" fontawesome_5="cdn" -->
<div class="row">
  <div class="col">
    <h2><%=_('heading',locals)%> </h2>
  </div>
</div>