<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<script is="dmx-flow" id="flow1" type="text/dmx-flow"></script>
<div class="container">
  <div class="row">
    <div class="col mt-5 align-self-baseline text-center">
      <img src="/assets/statics/TenTemplesLogoComplete.png">
      <h1 class="mt-5 heading">Platform &amp; Game Administration</h1>
    </div>
  </div>
</div>
<meta name="ac:route" content="/">