<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container">
  <div class="row">
    <div class="col mt-5">
      <h3>Ten Temples API</h3>
    </div>
  </div>
</div>
<meta name="ac:route" content="/">